{% extends 'base.html' %} {% block header %}
<h1 class="container">{% block title %}Activities edit{% endblock %}</h1>
{% if g.user %} {% endif %} {% endblock %} {% block content %}
<section>
  <div class="grid columns-4to1 gap-2">
    {% for column in columns %}
    <div>

      <h3>{{column['hdr']}}</h3>
      <ul>
        {% for act in column['list'] %}
        <li>
          {{ act['name'] }} by {{act['username']}} {% if g.user['id'] ==
          act['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=act['id']) }}">
            Edit
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
      {% endfor %}
  </div>
  <a class="abtn primary" href="{{ url_for('blog.create') }}">
    <i data-lucide="plus-square" class="icons"></i>
    <span class="mx-1">New</span>
  </a>
</section>
{% endblock %}
