{% extends 'base.html' %} {% block header %}
<h1 class="container title mt-2">
  {% block title %}Edit "{{ act['name'] }}"{% endblock %}
</h1>
{% endblock %} {% block content %}
<section>
  <form method="post" class="width-50">
    <label class="label" for="title">Title</label>
    <input
      name="title"
      id="title"
      value="{{ request.form['name'] or act['name'] }}"
      required
      class="input"
    />
    <label class="label" for="body">Body</label>
    <textarea name="body" id="body" class="textarea">
{{ request.form['description'] or act['description'] }}</textarea
    >
    <input type="submit" value="Save" class="button is-primary my-1" />
    <hr />
  </form>
  <form action="{{ url_for('blog.delete', id=act['id']) }}" method="post">
    <input
      class="button is-danger"
      type="submit"
      value="Delete"
      onclick="return confirm('Are you sure?');"
    />
  </form>
</section>
{% endblock %}
